# EazyML Insights Template

## Define Imports

In [ ]:
!pip install --upgrade eazyml-insight
!pip install --upgrade eazyml-automl
!pip install gdown python-dotenv

In [2]:
import os
from eazyml_insight import (
    ez_insight,
    ez_init,
    ez_validate
)

from eazyml import ez_display_df
import gdown
import pandas as pd

from dotenv import load_dotenv
load_dotenv()

True

## 1. Initialize EazyML

In [3]:
ez_init(access_key=os.getenv('EAZYML_ACCESS_KEY'))

{'success': True,
 'message': 'Initialized successfully. You may revoke your consent to sharing usage stats anytime. You have exclusive paid access.'}

## 2. Define Dataset Files and Outcome Variable

In [ ]:
gdown.download_folder(id='1-RO9K9-YYGK7Wp__ioth0xPD8XqtgvKT')

In [5]:
# Names of the files that will be used by EazyML APIs
eazyml_train_file = os.path.join('data', 'IRIS_Train.csv')
eazyml_test_file = os.path.join('data', 'IRIS_Test.csv')

# The column name for outcome of interest
outcome = "species"

## 3. EazyML Insights

### 3.1 Auto-derive Insights

#### 3.1.1 Build Insight Model

In [6]:
response = ez_insight(eazyml_train_file, outcome, options={})

#### 3.1.2 Convert Response to DataFrame

In [7]:
insights_df = pd.DataFrame(response['insights']['data'], columns=response['insights']['columns'])

#### 3.1.3 Display Augmented Insights

##### 3.1.3.1 For Class Iris-virginica

In [8]:
insights_df1 = insights_df[insights_df[outcome] == 'Iris-virginica']
ez_display_df(insights_df1.head())

##### 3.1.3.2 For Class Iris-versicolor

In [9]:
insights_df0 = insights_df[insights_df[outcome] == 'Iris-versicolor']
ez_display_df(insights_df0.head())

### 3.2 Validation of Insights

#### 3.2.1 Validating Insights

In [10]:
record_number = [3, 5]
options = {'record_number': record_number}
val_response = ez_validate(eazyml_train_file, outcome, response['insights'], eazyml_train_file, options=options)

#### 3.2.2 Convert Response to DataFrame

In [11]:
validate_df = pd.DataFrame(val_response['validations']['data'], columns=val_response['validations']['columns'])

#### 3.2.3 Display Validation Metrics

##### 3.2.3.1 For Class Iris-virginica

In [12]:
validate_df1 = validate_df[validate_df[outcome] == 'Iris-virginica']
ez_display_df(validate_df1.head())

##### 3.2.3.2 For Class Iris-versicolor

In [13]:
validate_df0 = validate_df[validate_df[outcome] == 'Iris-versicolor']
ez_display_df(validate_df0.head())

#### 3.2.4 Display Filtered Data for Specific Record Numbers

In [15]:
for i in range(len(record_number)):
    print (val_response['validation_filter'][i]['Augmented Intelligence Insights'])
    filter_df = pd.DataFrame(val_response['validation_filter'][i]['filtered_data']['data'], columns=val_response[
                             'validation_filter'][i]['filtered_data']['columns']) 
    ez_display_df(filter_df.head())
    print ('\n')

sepal_length is less than equal to 5.55

sepal_length in ( 5.55, 6.75 ),
sepal_width is greater than 3.7